@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.hmsi{font-family: Circular Std, 'segoe ui', sans-serif;}
.huruf-normal{font-family: Circular Std Book, 'segoe ui', sans-serif;}

