@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.body{
    background-color: #23153c;
}

.vanta{
    margin: 0%;
    padding: 15%;
}

.hmsi{
    color: white !important;
    font-size: 72px !important;
    font-family: Circular Std, 'segoe ui', sans-serif;
}

.pe{
    font-size: 20px;
    color: white;
    font-family: Circular Std, 'segoe ui', sans-serif;
}

.divpeta{
    background-color: #23153c;
    padding: 40px 0;
}

.peta{
    width: 80%;
    margin: 0 auto;
}

.divisi{
    padding: 0 2% 0;
}

.detail-divisi{
    /* float: left; */
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
}
